<template name="home">

  <div class="inner cover">
    <h1 class="cover-heading">Tailgun is Mailgun's <a href="http://en.wikipedia.org/wiki/Tail_gunner">tail gunner</a>.</h1>
    <p class="lead">Tailgun is a small set of tools for executing some mailgun actions manually.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-default">Learn more</a>
    </p>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>Built by <a href="http://sergelobatch.com">slobatch</a>. Source code on <a href="https://github.com/slobatch/tailgun">Github</a>.</p>
      <p>Questions? <a href="mailto:help@tailgun.co">help@tailgun.co</a></p>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</template>
